body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container, #output {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 10px;

  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  
  label {
    font-size: 16px;
  }
  
  input, button {
    border-radius: 10px;
  }
  
  input {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    width: 200px;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #fff;
    color: #000;
  }
  
  #output {
    margin-top: 20px;
    min-height: 50px;
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  